@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Shadows Into Light", cursive;  
}

::-webkit-scrollbar {
  display: none;
}

.Main-container {
  position: relative;
  padding: 10px;
  margin: 0;
  width: 100%;
  height: 100vh;
  font-family: "Shadows Into Light", cursive;  
}

.App-heading {
  margin: 0;
  padding: 0;
  text-align: center;
}

.To-do-list-container {
  position: absolute;
  top: 5%;
  right: 0%;
  width: 400px;
  height: 450px;
  background-color: transparent;
  backdrop-filter: blur;
  font-family: "Shadows Into Light", cursive;  
  border: 4px solid #9abae9;
  padding: 20px;
  cursor: pointer;
  overflow-y: scroll;
  border-radius: 10px;
  transition: .5s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0);

}

.To-do-list-container:hover {
  border: 4px solid #2e82ff;
  box-shadow: 0 0 20px #2e82ff;
}
#category{
  margin-right: 180px;
  width: 210px;
  height: 50px;
  font-family: "Shadows Into Light", cursive;  
  color: white;
  font-size: 20px;
  background-color: transparent;
  border: 4px solid #9abae9;
  padding: 0px;
  border-radius: 10px;
  transition: .5s;
  box-shadow: 0 0 10px transparent;
}
#category option{
  color:black;
}
#category:hover{
  border: 4px solid #2e82ff;
  box-shadow: 0 0 20px #2e82ff;
}

.input-container {
  position: absolute;
  bottom: 20%;
  padding: 0;
  margin: 0;
  right: -15%;
  display: flex;

}

/* .input-container:hover{
   

} */
.input-field {
  transform: translateX(-50%);
  width: 300px;
  height: 20px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: "Shadows Into Light", cursive;  
  background-color: transparent;
  border: 4px solid #9abae9;
  padding: 10px;
  border-radius: 10px;
  transition: .5s;
  margin: 0;
  box-shadow: 0 0 10px transparent;
}

.input-feild:hover {
  border: 4px solid #2e82ff;
  box-shadow: 0 0 20px #2e82ff;
}

.add-button {
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-family: "Shadows Into Light", cursive; 
  font-size: 18px;
  text-decoration: none;
  color: #ffffff;
  border: 2px solid #333;
  letter-spacing: 2px;
  background-color: #5398ff;
  text-align: center;
  position: absolute;
  cursor: pointer;
  border-radius: 12px;
  transition: all 1s;
  bottom: 13%;
  right: -2%;
}

.add-button span {
  position: relative;
  z-index: 2;
}
.add-button span img {
  position: absolute;
  top: 0%;
  left: -70%;
  /* transform: translate(-50%, -50%); */
  width: 20px;
  height: 20px;

}
@keyframes add-ainmation{
  0%{
      transform: rotate(10deg);
  }
  25%{
      transform: rotate(20deg);
  }
  50%{
      transform:rotate(40deg) ;
  }
  75%{
      transform: rotate(60deg);
  }
  100%{
      transform: rotate(80deg);
  }
  } 
.add-button span img:hover{
  position: absolute;
  height: 22px;
  width: 22px;
  top: 0%;
  left: -70%;
  animation-name:add-ainmation ;
  animation-duration: 0.5s;
  animation-iteration-count:var(1);
}

.add-button:after {
  position: absolute;
  content: "";
  top: 0;
  border-radius: 12px;
  left: 0;
  width: 0;
  height: 100%;
  background: #ff003b;
  transition: all 1s;
}

.add-button:hover {
  color: #fff;
}

.add-button:hover:after {
  width: 100%;
}
.add-icon{
  height: 20px;
  margin: 2px;

}

@media screen and (max-width:1180px) {
  
  .To-do-list-container{
    top: 20%;
    right: 10%;
  }
}
@media screen and (max-width:530px) {
  
  .To-do-list-container{
    right: 7%;
    width: 300px;
    height: 350px;
  }
}
@media screen and (max-width:410px) {
  
  .To-do-list-container{
    right: 7%;
    width: 200px;
    height: 250px;
  }
}